.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    justify-items: center;
}
.toma{
    background-image: none;
}
.flex div{
    width: 500px;
    height: 500px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    transition: 0.5s;
}
.flex div:hover{
    translate: -2px 2px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.2);
}
div > p{
    color: black;
    text-align: right;
    padding: 40px;
    padding-top: 100px;
}